<%= form_with model: @user do |f| %>
  <!-- Form fields go here -->
  <p>
    <% if @user.errors.any? %>
      <div style="color: red;">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </p>
  <p>
    <%= f.label :username %> <br/>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %> <br/>
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>