<!-- app/views/users/update.html.erb -->

<h1>Update User</h1>

<%= form_with model: @user, url: update_user_path(@user), local: true, method: :patch do |f| %>
  <!-- Your form fields go here -->
  <p>
    <%= f.label :username %> <br/>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %> <br/>
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
